/* -------------------------------------------------------
	Gallery
------------------------------------------------------- */
.btn{
	position: relative;
	z-index: 200;
	background: #eeeeee;
	color: black;
}
.btn:hover{
	background: #fafafa;
}
/* Pinterest Save Button */
.pin-btn:hover{
	background: #bd081c !important;
}
/* Anchor link */
.anchorLink{
	position: relative;
	margin: auto;
	font-size: 60px;
	color: black !important;
	opacity: .2;
	transition:.2s all linear;
	z-index: 100;
}
.anchorLink:hover{
	opacity: .4;
}

#zpg_gallery{
	position: relative;
}
#zpg_gallery *{
	outline:  none !important;
}
#zpg_gallery .grid{
	max-width: 100% !important;
}
#zpg_gallery .unslider-wrap{
	background: white !important;
}
#zpg_gallery ul li{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#zpg_gallery ul li div.flex{
	position: relative;
	width: 100%;
	height: 100%;
}
#zpg_gallery ul li div.flex figure{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0;
}
#zpg_gallery ul li div.flex img{
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	z-index: 1 !important;
	opacity: 0 !important;
}
#zpg_gallery .zpg_content{
	position: absolute;
	bottom: 40px;
	left: 0;
	width: 100%;
	text-align: center;
}
#zpg_gallery .zpg_content .information{
	padding: 0 40px;
}

/* Navigation Arrows */
#zpg_gallery .unslider-arrow{
	z-index: 100;
	font-size: 40px;
	top: 50vh;
	width: 40px;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	&.prev{
		left: 40px;
	}
	&.next{
		right: 40px;
	}
}


/* Unslider Fade */
#zpg_gallery .unslider-fade .unslider-wrap{
}

/* Unslider Horizontal */
#zpg_gallery .unslider-horizontal ul li{
	position: relative;
}
/* Unslider Vertical styles */
#zpg_gallery .unslider-vertical ul li{
	position: relative;
}


/* -------------------------------------------------------
	Full screen gallery styles
------------------------------------------------------- */
main.zpgFullscreenGallery{
	
}
main.zpgFullscreenGallery .unslider-arrow,
main.zpgFullscreenGallery #zpg_gallery .anchorLink{
	color: white !important;
	opacity: .7;
	text-shadow: 0 0 5px black;
}
main.zpgFullscreenGallery #zpg_gallery .anchorLink:hover,
main.zpgFullscreenGallery .unslider-arrow:hover{
	opacity: 1;
}
main.zpgFullscreenGallery #zpg_gallery .zpg_content{
	padding: 40px 0;
}


/* -------------------------------------------------------
	Responsive Gallery
------------------------------------------------------- */
@media(min-width:767px){
	/* OVERRIDE RESPONSIVE INLINE HEIGHT VALUES */
	#zpg_gallery ul li div.flex{
		min-height: 100vh;
	}
	/* Unslider Fade */
	#zpg_gallery .unslider-fade ul.unslider-wrap{
		height: 100vh !important;
	}
	/* Unslider Horizontal */
	#zpg_gallery .unslider-horizontal ul.unslider-wrap li{
		min-height: 100vh !important;
	}
	/* Unslider Vertical styles */
	#zpg_gallery .unslider-vertical ul.unslider-wrap li{
		min-height: 100vh !important;
	}
	#zpg_gallery #mobileInstruction{
		display: none !important;
	}
}
@media(max-width:767px){
	#zpg_gallery{
		padding-bottom: 40px;
	}
	#zpg_gallery .unslider{
		position: relative;
	}
	
	#zpg_gallery ul li div.flex figure{
		width: 100% !important;
		background-position: center top;
	}
	
	/* below gallery content */	
	#zpg_gallery #mobileInstruction{
		text-align: center;
	}
	#zpg_gallery #mobileInstruction sup{
		display: inline-block;
		margin: auto;
		line-height: 40px;
	}
	#zpg_gallery .zpg_content{
		position: relative;
		bottom: auto;
		left: auto;
		width: 100%;
		text-align: center;
	}
	
	/* Full Screen Styles */
	main.zpgFullscreenGallery ul.unslider-wrap{
		height: 100vh !important;
	}
	main.zpgFullscreenGallery #zpg_gallery #mobileInstruction{
		position: absolute;
		top: -100px;
		width: 100%;
	}
	main.zpgFullscreenGallery #zpg_gallery #mobileInstruction sup{
		color: white;
		text-shadow: 0 0 5px black;
	}
		
	/* Navigation Arrows */
	#zpg_gallery .unslider-arrow{
		display: block;
		top: 0;
		-webkit-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		transform: none !important;
		width: 50%;
		background: #fff;
		border: none;
		color: black;
		opacity: 0;
		text-align: center;
	}
	#zpg_gallery .unslider-arrow:focus{
		opacity: .2;
	}
	
	#zpg_gallery .unslider-arrow.prev{
		left: 0;
	}
	#zpg_gallery .unslider-arrow.next{
		right: 0;
	}
}




/* -------------------------------------------------------
	Thumbnail Styles
------------------------------------------------------- */
#zpg_gallery_album{
	position: relative;
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 0 0 60px;
	z-index: 1;
}
#zpg_gallery_album .zpg_padding{
	position: relative;
	width: 33%;
	display: inline-block;
	margin: auto;
	overflow: hidden;
	text-align: center;
	padding: 40px 0;
	vertical-align: top;
}
#zpg_gallery_album .zpg_padding h3{
	text-align: left;
	width: 80%;
	margin: auto !important;
	white-space: nowrap;
}
#zpg_gallery_album .zpg_padding p{
	text-align: left;
	width: 80%;
	margin: auto !important;
}
#zpg_gallery_album .zpg_padding .zpg_item{
	position: relative;
	display: inline-block;
	width: 80%;
	overflow: hidden;
	background: white;
}
#zpg_gallery_album .zpg_padding .zpg_item::before{
	content: '';
	display: block;
	padding-top: 65%;
}
#zpg_gallery_album .zpg_padding .zpg_item a{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer !important;
}
#zpg_gallery_album .zpg_padding .zpg_item a figure{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0;
}
@media(max-width:1000px){
	#zpg_gallery_album .zpg_padding{
	}
}
@media(max-width:767px){
	#zpg_gallery ul li div.flex figure{
		margin-bottom: 0 !important;
		width: 80%;
	}
	.zpg_content{
		bottom: 25% !important;
		text-align: center !important;
	}
	#zpg_gallery .anchorLink{
		bottom: 10%;
		opacity: 1 !important;
		font-size: 30px;
	}
	
	#zpg_gallery_album{
		text-align: left;
	}
	#zpg_gallery_album .zpg_padding{
		width: 48%;
		padding: 5px 0;
	}
	#zpg_gallery_album .zpg_padding h3{
		width: 100%;
	}
	#zpg_gallery_album .zpg_padding p{
		display: none;
	}
	#zpg_gallery_album .zpg_padding:nth-child(2n){
		float: right;
	}
	#zpg_gallery_album .zpg_padding .zpg_item{
		width: 100%;
		height: 32vw;
	}
}