/* ------------------------------
	SORTABLE GALLERY IMAGES
------------------------------ */
#zpg_ui_list{
	background: white;
	width: 100%;
}
#zpg_ui_list li{
	position: relative;
	width: 100%;
	padding: 10px 0;
	background: white;
	transition: .2s all linear;
}
#zpg_ui_list li:hover{
	background: #fafafa;
}
#zpg_ui_list li figure{
	position: relative;
	width: 150px;
	height: 100px;
	background: black;
	overflow: hidden;
	display: inline-block;
	margin: 0 20px 0 0;
}
#zpg_ui_list li figure img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#zpg_ui_list li p{
	float: left;
}
#zpg_ui_list li a.deleteImage{
	cursor: pointer !important;
}

/* ------------------------------
	OPTION PAGE
------------------------------ */
.zpg-settings-wrapper h2{
	margin-top: 2em;
	color: #28a8c5 !important;
}
.zpg-settings-wrapper table{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
.zpg-settings-wrapper table th{
	width: 40%;
	max-width: 300px;
}
.zpg-settings-wrapper table tr th,
.zpg-settings-wrapper table tr td{
	text-align: left;
	padding: 10px 20px 10px 0;
	border-bottom: 1px solid hsla(0,0%,0%,.1);
}
.zpg-settings-wrapper table tr:last-of-type th,
.zpg-settings-wrapper table tr:last-of-type td{
	border-bottom: none;
}